// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.user {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
