<span class="review-desc"><%= review.description %></span>
<% if current_user.id == review.user_id %>
    <span><%= link_to fa_icon('trash'), [@product, review], method: :delete, data: { confirm: "Are you sure?" } %></span>
<% end %>
<span class="review-rating"><%= review.rating %></span>
<div style="clear: both;"></div>



