
<div>Rating</div>
<div> <%= review.description %> </div>
<div> <%= review.rating %> </div>

<% if current_user.id == review.user_id %>
    <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

